@tailwind components;
@tailwind utilities;

:root {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
		Apple Color Emoji, Segoe UI Emoji;
	font-size: 1rem;
	--user-font-scale: 1rem - 16px;
	font-size: clamp(0.875rem, 0.4626rem + 1.0309vw + var(--user-font-scale), 1.125rem);
	--color-light: #f3f4f6;
	--color-dark: #161414;
}

body {
	padding: 4rem 2rem;
	width: 100%;
	min-height: 100vh;
	display: grid;
	justify-content: center;
	background: var(--color-dark);
	color: var(--color-light);
}

a {
	color: inherit
}

input {
	border: 1px solid var(--color-light);;
	border-radius: 2px;
	background: transparent;
	color: var(--color-light);
	padding: 4px;
}
