---
import '../styles/global.css';
import '../styles/home.css';
import PreactCounter from '../components/PreactCounter.jsx';

let title = 'Music Download';

---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<style>
		header {
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: min(100%, 68ch);
		}
	</style>
	<style is:global>
		pre {
			padding: 1rem;
		}
	</style>
</head>
<body>
	<main>
		<header>
			<div>
				<h1>Welcome to <a href="https://music.majder.com"></a></h1>
			</div>
		</header>

		<PreactCounter client:visible />
	</main>
</body>
</html>
